@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans+Condensed:wght@300&display=swap");

:root {
  --sec: #bbb;
  --bg: #202124;
}

a {
  text-decoration: none;
  color: #047dffcb;
  font-size: 20px;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
}

h1 {
  font-family: "Caveat", cursive;
}
